CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
resources/models/*.fbx
resources/textures/*.png
resources/textures/*.jpg
resources/sounds/*.wav
resources/sounds/*.ogg
resources/sounds/*.mp3
include
lib